body {
  font-family: "Lora", "Minion Pro", Palatino, Georgia, serif;
  line-height: 1.6;
  max-width: 700px;
  background-color: white;
  color: #333;
  margin: auto;
  padding: 10px;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  margin: 1rem 0;
}
h2 {
  font-weight: 900;
  font-size: 1.75rem;
  letter-spacing: -.05rem;
  border-top: 4px solid #c7c7c7;
  border-bottom: 2px solid #c7c7c7;
  padding: .2rem 0 .4rem;
  margin-bottom: 1.5rem;
}
h3 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -.05rem;
  margin: 0;
}
h4 {
  font-size: 1.125rem;
  margin: 0 0 .5rem 0;
}
p {
  margin: 0 0 .5rem 0;
}
a {
  background-color: transparent;
}
a:active, a:hover {
  outline: 0;
}
.item {
  margin-bottom: 2rem;
}
.icon-links {
  text-align: center;
}
.icon-links .icon-link-item {
  display: inline-block;
  margin-left: 5px;
}
.icon-links .icon {
  height: 28px;
}
svg {
  fill: #d1cecc;
}
svg:hover {
  fill: #333;
}
#name {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -.15rem;
}
#title {
  font-weight: 300;
  line-height: 2rem;
  padding: .5rem 0;
}
#intro {
  font-size: 1.125rem;
}
